@model IEnumerable<test_platform.Models.Auth.UserInfo>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_LayoutSigned.cshtml";

}
<div class="text-center">
    <h1 class="display-4">USER LIST</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="table mt-4">
        <tr>
            <th>
                STT
            </th>
            <th>
                Họ và tên
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Email
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Ngày sinh
            </th>
            <th></th>
        </tr>
        @{
            int stt = 1; 
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @stt
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @item.BirthDate.ToString("dd/MM/yyyy")
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>


